<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <mat-toolbar-row class="flex justify-between items-center">
        <div class="flex justify-between items-center md:w-1/4">
            <p id="title" class="p-0 m-0">
                KADA TECH
            </p>
            <div id="menu">
                <button mat-icon-button (click)="sidenav.toggle();">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <app-header></app-header>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container [hasBackdrop]="!openedSideNav">
    <mat-sidenav #sidenav style="min-width: 20vw;" [mode]="openedSideNav?'side':'over'" [opened]="openedSideNav"
        [class.mat-elevation-z8]="true">
        <!-- Side Bar -->
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <!-- container: body -->
    <mat-sidenav-content>
        <app-breadcrumb></app-breadcrumb>
        <div style="height: 88vh; overflow-y: scroll; padding: 20px; overflow-x: hidden;" class="bg-blue-50">
            <router-outlet>
                <app-spinner></app-spinner>
            </router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>