<div [ngClass]="{
        minisidebar: minisidebar,
        boxed: boxed,
        danger: danger,
        blue: blue,
        dark: dark,
        green: green,
        horizontal: horizontal
      }">


    <mat-toolbar [class.mat-elevation-z8]="true"
        style="height: fit-content !important; background-color: #011039 !important;">
        <div class="flex justify-between items-center text-white w-full">
            <div class="flex justify-between items-center md:w-1/5">
                <div class="w-[50px] h-[50px]">
                    <img class="h-full w-full" src="../../../../assets/images/logo.png" alt="">
                </div>
                <div id="menu">
                    <button mat-icon-button (click)="sidenav.toggle();">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex justify-end items-center md:w-1/4">
                <app-header></app-header>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container [hasBackdrop]="!openedSideNav">
        <mat-sidenav #sidenav style="min-width: 20vw;" [mode]="openedSideNav?'side':'over'" [opened]="openedSideNav"
            [class.mat-elevation-z8]="true">
            <!-- Side Bar -->
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
            <div class="scroll">
                <mat-nav-list>
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Settings</h3>
                    <mat-list-item *ngIf="!minisidebar">
                        <mat-slide-toggle color="warn" [(ngModel)]="horizontal">
                            Horizontal Layout</mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-slide-toggle color="warn" (change)="dir = dir == 'rtl' ? 'ltr' : 'rtl'">RTL
                        </mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-slide-toggle color="warn" [(ngModel)]="boxed">Boxed Layout</mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item *ngIf="!horizontal">
                        <mat-slide-toggle [(ngModel)]="minisidebar">Mini Sidebar</mat-slide-toggle>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Colors</h3>

                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="this.danger" (change)="green = blue = false"
                            class="text-danger">Red
                        </mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="green" (change)="danger = blue = false"
                            class="text-megna">Teal Green</mat-checkbox>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="blue" (change)="green = danger = false"
                            class="text-info">Blue
                        </mat-checkbox>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="dark"
                            (change)="darkClick() ;green = blue = danger = false">Dark
                        </mat-checkbox>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <!-- container: body -->
        <mat-sidenav-content>
            <div class="min-h-[calc(100vh-50px)] max-h-[calc(100vh-50px)] overflow-y-auto flex flex-col justify-between"
                id="main">
                <div>
                    <router-outlet>
                        <app-spinner></app-spinner>
                    </router-outlet>
                </div>
                <app-footer></app-footer>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>