<mat-toolbar color="primary" [class.mat-elevation-z8]="true" class="fixed inset-x-0 top-0 z-10">
    <mat-toolbar-row class="flex justify-between items-center">
        <div class="flex justify-between items-center md:w-1/5">
            <span class="cursor-pointer" routerLink="/">
                KADA TECH
            </span>
            <mat-icon (click)="sidenav.toggle();" class="cursor-pointer">menu</mat-icon>
        </div>
        <app-header></app-header>
    </mat-toolbar-row>
</mat-toolbar>

<div class="mt-16 fixed w-full h-screen">
<mat-sidenav-container [hasBackdrop]="!openedSideNav">
    <mat-sidenav #sidenav style="min-width: 20vw;" [mode]="openedSideNav?'side':'over'" [opened]="openedSideNav"
        [class.mat-elevation-z8]="true">
        <!-- Side Bar -->
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-breadcrumb></app-breadcrumb>
        <div style="height: 100vh; padding: 20px;" class="">
            <router-outlet>
            </router-outlet>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>