
/**************************Tailwind************************/
@tailwind base;
@tailwind components;
@tailwind utilities;
/**************************Tailwind************************/
/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* @import 'assets/themeExemple.scss'; */

.red-text {
  color: rgb(223, 38, 38);
}

.yellow-text {
  color: rgb(207, 207, 29);
}

.blue-text {
  color: rgb(0, 0, 100);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-header-row {
  background: linear-gradient(to right, #011039, #3752A3, #011039) !important;
}

.content{
  @apply p-6;
}



mat-header-row * {
  color: whitesmoke !important;

}
