<app-breadcrumb [Title]="title"></app-breadcrumb>
<mat-divider></mat-divider>
<mat-toolbar class="content-toolbar flex flex-wrap justify-between items-center"
    style="height: fit-content !important; padding:5px 10px;">
    <div class="flex">
        <mat-icon class="cursor-pointer text-white" title="retour">reply</mat-icon>
    </div>

    <div class="flex">
        <button class="flex button items-center bg-white text-black shadow-xl" (click)="openDialog('add',{})">
            + Ajouter
        </button>
    </div>
</mat-toolbar>
<mat-tab-nav-panel>
    <mat-tab-group>
        <mat-tab label="Liste des client">
            <ng-template matTabContent>
                <app-list-customer [isClientEnGros]="false" [change]="change"></app-list-customer>
            </ng-template>
        </mat-tab>
        <mat-tab  label="Liste des client en gros">
            <ng-template matTabContent>
                <app-list-customer [isClientEnGros]="true" [change]="change"></app-list-customer>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-tab-nav-panel>