<!-- Breadcrumb -->
<ul id="breadcrumb">
    <li *ngFor="let url of pageInfo['urls']; let index = index ; let last = last" >
        <a style="display: flex;align-items: center;" *ngIf="!last" [routerLink]="url.url"
            class=" flex items-center">
            <mat-icon style="
            margin: 0;
            padding: 0;
           " *ngIf="url.icon">{{url.icon}}</mat-icon>
            {{ url.title }}
        </a>
        <a *ngIf="last"  style="display: flex;align-items: center;">
            <mat-icon style="
            margin: 0;
            padding: 0;
           " *ngIf="url.icon">{{url.icon}}</mat-icon>
            {{ url.title }}
        </a>
    </li>
</ul>
<h1 class="p-l-1"> {{this.titleService.getTitle()}}</h1>