<div class="headerDialog">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-icon [ngClass]="{'dialog-disabled': showSpinner}" class="cursor-pointer" (click)="dialogRef.close()">close</mat-icon>
</div>
<mat-dialog-content [ngClass]="{'dialog-disabled': showSpinner}" class="mat-typography">
  <div class="absolute inset-1/2 z-50 shadow" *ngIf="showSpinner">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
  <form [formGroup]="form">

    <div class="md:flex md:space-x-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Modèle</mat-label>
        <input formControlName="name" matInput placeholder="Modèle" #inputName>
        <mat-hint align="end">{{inputName.value.length}}/100</mat-hint>
        <mat-error *ngIf="form.controls['name'].errors && 
                    form.controls['name'].errors['required'] && 
                    form.controls['name'].touched">Le nom du Modèle est Obligatoire</mat-error>
        <mat-error *ngIf="form.controls['name'].errors && 
                    form.controls['name'].errors['minlength'] && 
                    form.controls['name'].touched">Le nom du Modèle doit avoir au moins
          {{form.controls['name'].errors['minlength']['requiredLength']}} caractères</mat-error>
        <mat-error *ngIf="form.controls['name'].errors && 
                    form.controls['name'].errors['maxlength'] && 
                    form.controls['name'].touched">Le nom du Modèle ne doit pas dépasser
          {{form.controls['name'].errors['maxlength']['requiredLength']}} caractères</mat-error>
      </mat-form-field>
    </div>
    <div class="md:flex md:space-x-2">
      <mat-form-field class="w-full">
        <mat-label>Marque</mat-label>
        <mat-select formControlName="marqueId" placeholder="Marque">
          <mat-option *ngFor="let marque of marques" [value]="marque.id">
            {{marque.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['marqueId'].errors && 
        form.controls['marqueId'].errors['required'] && 
        form.controls['marqueId'].touched">La marque est Obligatoire</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions [ngClass]="{'dialog-disabled': showSpinner}" align="end">
  <div class="space-x-3 px-4">
    <button class="button text-black shadow-xl" (click)="dialogRef.close()">
      Annuler
    </button>
    <button (click)="save()" class="button-primary mr-4 drop-shadow-lg">
      {{data.action=='add'?'Ajouter':'Modifier'}}
    </button>
  </div>
</mat-dialog-actions>