<div class="headerDialog">
    <h2 mat-dialog-title>{{data?.title}}</h2>
    <mat-icon class="cursor-pointer" (click)="dialogRef.close()"
        [ngClass]="{'dialog-disabled': showSpinner}">close</mat-icon>
</div>
<mat-dialog-content class="mat-typography" [ngClass]="{'dialog-disabled': showSpinner}">
    <div class="absolute inset-1/2 z-50 shadow" *ngIf="showSpinner">
        <mat-spinner [diameter]="80"></mat-spinner>
    </div>
    <form [formGroup]="form">

        <!-- lastName -->
        <mat-form-field class="w-full md:w-[48%] mr-2">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" #inputLastName formControlName="lastName">
            <mat-hint align="end">{{inputLastName.value.length}}/100</mat-hint>
            <mat-error *ngIf="form.controls['lastName'].errors && 
                    form.controls['lastName'].errors['required'] && 
                    form.controls['lastName'].touched">Le nom est Obligatoire</mat-error>
            <mat-error *ngIf="form.controls['lastName'].errors && 
                    form.controls['lastName'].errors['maxlength'] && 
                    form.controls['lastName'].touched">Le nom ne doit pas dépasser
                {{form.controls['lastName'].errors['maxlength']['requiredLength']}} caractères</mat-error>
            <mat-error *ngIf="form.controls['lastName'].errors && 
                    form.controls['lastName'].errors['minlength'] && 
                    form.controls['lastName'].touched">Le nom doit avoir au moins
                {{form.controls['lastName'].errors['minlength']['requiredLength']}} caractères</mat-error>
        </mat-form-field>

        <!-- Name -->
        <mat-form-field appearance="fill" class="w-full md:w-[48%] mr-2">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" #inputName formControlName="name">
            <mat-hint align="end">{{inputName.value.length}}/100</mat-hint>
            <mat-error *ngIf="form.controls['name'].errors && 
                    form.controls['name'].errors['required'] && 
                    form.controls['name'].touched">Le Prénom est Obligatoire</mat-error>
            <mat-error *ngIf="form.controls['name'].errors && 
                    form.controls['name'].errors['maxlength'] && 
                    form.controls['name'].touched">Le Prénom ne doit pas dépasser
                {{form.controls['name'].errors['maxlength']['requiredLength']}} caractères</mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill" class="w-full md:w-[48%] mr-2">
            <mat-label>Email</mat-label>
            <input matInput placeholder="exemple@gmail.com" #inputEmail formControlName="email">
            <mat-hint align="end">{{inputEmail.value.length}}/100</mat-hint>
            <mat-error *ngIf="form.controls['email'].errors && 
                    form.controls['email'].errors['required'] && 
                    form.controls['email'].touched">L'email est Obligatoire</mat-error>
            <mat-error *ngIf="form.controls['email'].errors && 
                    form.controls['email'].errors['maxlength'] && 
                    form.controls['email'].touched">L'email ne doit pas dépasser
                {{form.controls['email'].errors['maxlength']['requiredLength']}} caractères</mat-error>
            <mat-error *ngIf="form.controls['email'].errors && 
                    (form.controls['email'].errors['email'] || form.controls['email'].errors['pattern']) && 
                    form.controls['email'].touched">L'email est invalide</mat-error>
        </mat-form-field>
        <!-- Phone number -->
        <mat-form-field appearance="fill" class="w-full md:w-[48%] mr-2">
            <mat-label>Numéro whatsapp</mat-label>
            <input matInput placeholder="620000000" #inputPhone formControlName="whatsappNumber" pattern="[0-9]{9,}">
            <mat-error *ngIf="form.controls['whatsappNumber'].errors && 
                    form.controls['whatsappNumber'].errors['required'] && 
                    form.controls['whatsappNumber'].touched">Le numéro est Obligatoire</mat-error>
            <mat-error *ngIf="form.controls['whatsappNumber'].errors && 
                    form.controls['whatsappNumber'].errors['maxlength'] && 
                    form.controls['whatsappNumber'].touched">Le numéro ne doit pas dépasser
                {{form.controls['whatsappNumber'].errors['maxlength']['requiredLength']}} caractères</mat-error>
            <mat-error *ngIf="form.controls['whatsappNumber'].errors && 
                    form.controls['whatsappNumber'].errors['pattern'] && 
                    form.controls['whatsappNumber'].touched">Le numéro ne doit avoir au moins
                9 caractères</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" [ngClass]="{'dialog-disabled': showSpinner}">
    <div class="space-x-3 px-4">
        <button class="button text-black shadow-xl" (click)="dialogRef.close()">
            Annuler
        </button>
        <button class="button-primary mr-4 drop-shadow-lg" (click)="save()">
            {{data?.action =='add'?'Ajouter':'Modifier'}}
        </button>
    </div>
</mat-dialog-actions>