<div class="m-5">

  <!-- Simple four boxes Row -->
  <!-- ============================================================== -->
  <app-top-card></app-top-card>
  <!-- ============================================================== -->
  <!-- Charts -->
  <!-- ============================================================== -->
  <div class="flex flex-wrap">
    <!-- Column-->
    <div class="w-full lg:w-3/4 md:w-2/3 xs:w-full">
      <app-sales-overview></app-sales-overview>
    </div>
    <!-- Column-->
    <div class="w-full lg:w-1/4 md:w-3/5 xs:w-full">
      <app-visitor></app-visitor>
    </div>
    <!-- Column-->
  </div>
  <!-- ============================================================== -->
  <!-- Chart boxes -->
  <!-- ============================================================== -->
  <app-income-expenss></app-income-expenss>
  <!-- ============================================================== -->
  <!-- Image and chart -->
  <!-- ============================================================== -->
  <div class="flex flex-wrap">
    <!-- Column-->
    <div class="w-full">
      <app-newsletter></app-newsletter>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Image Card row-->
  <!-- ============================================================== -->
  <app-sales-yearly></app-sales-yearly>
  <app-top-card2></app-top-card2>
  <app-visitor2></app-visitor2>
</div>