
<div class="content mat-elevation-z2">
    <form [formGroup]="searchForm" >
        <div class="flex justify-between border w-full p-4 space-x-2">
            <div class="w-full">
                <autocomplete formControlName="articleId" placeholder="Produit" [values]="articleList" idField="id" valueField="articleName">
                </autocomplete>
            </div>
        </div>
    </form>

    <mat-table [dataSource]="pageRows" matSort cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>#</mat-header-cell>
      <mat-cell *matCellDef="let row;let index=index"> {{index+1}} </mat-cell>
    </ng-container>

    <!-- lastname Column -->
    <ng-container matColumnDef="articleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Article</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.articleName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantiteRestante">
        <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Quantité</mat-header-cell>
        <mat-cell *matCellDef="let row"> <div class="min-w-[100px] border rounded-lg text-center py-2" [ngClass]="row.quantiteRestante > 0 ? 'bg-green-500' : 'bg-red-500'">{{row.quantiteRestante }} </div> </mat-cell>
    </ng-container>

    <ng-container *matNoDataRow> 
        <div *ngIf="!loading" class="text-lg text-center p-2">
            Aucune donnée trouvée
        </div>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
    </mat-table>

    <mat-paginator [length]="total" [pageSize]="pageSize"
    (page)="onChangePage({pageSize: $event.pageSize, pageIndex: $event.pageIndex})"></mat-paginator>
</div>
