<app-breadcrumb [Title]="title"></app-breadcrumb>
<mat-divider></mat-divider>
<mat-toolbar class="content-toolbar flex flex-wrap justify-between items-center"
    style="height: fit-content !important; padding:5px 10px;">
    <div class="flex">
        <mat-icon class="cursor-pointer text-white" title="retour">reply</mat-icon>
    </div>

    <div class="flex">
        <button class="flex button items-center bg-white text-black shadow-xl" (click)="addArticle()">
            + Ajouter
        </button>
    </div>
</mat-toolbar>
<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue" [tabPanel]="tabPanel">
    <a *ngFor="let nav of navs2"
      mat-tab-link 
      class="mat-tab-label"
      [disableRipple]="true"
      [routerLink]="nav.routerLink" 
      routerLinkActive="mat-tab-label-active" 
      #rla="routerLinkActive" [active]="rla.isActive">
      {{ nav.label }}
    </a>
</nav>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>

