<app-breadcrumb></app-breadcrumb>

<mat-divider></mat-divider>
<mat-toolbar class="content-toolbar flex flex-wrap justify-between items-center"
    style="height: fit-content !important; padding:5px 10px;">
    <div class="flex">
        <mat-icon class="cursor-pointer text-white" title="retour">reply</mat-icon>
    </div>

    <div class="flex">
        <button class="flex button items-center bg-white text-black shadow-xl" (click)="openDialog('add',{})">
            + Ajouter
        </button>
    </div>
</mat-toolbar>


<div class="content mat-elevation-z2">
    <form [formGroup]="searchForm"
        class="flex flex-wrap justify-start mb-6 border border-gray-300 rounded-md pl-5 py-4 ">
        <mat-form-field class="w-full md:w-[45%] md:mr-2">
            <input matInput placeholder="Nom" formControlName="lastname">
        </mat-form-field>
        <mat-form-field class="w-full md:w-[45%]">
            <input matInput placeholder="Prenom" formControlName="firstname">
        </mat-form-field>
        <mat-form-field class="w-full md:w-[45%] mr-2">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-full md:w-[45%] mr-2">
            <input matInput placeholder="Téléphone" formControlName="phoneNumber">
        </mat-form-field>
    </form>
    
    <mat-table [dataSource]="pageRows" matSort cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>#</mat-header-cell>
            <mat-cell *matCellDef="let row;let index=index"> {{index+1}} </mat-cell>
        </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Nom D'utilisateur</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Email</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- firstname Column -->
        <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Prénom</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstname}} </mat-cell>
        </ng-container>

        <!-- lastname Column -->
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Nom</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastname}} </mat-cell>
        </ng-container>

        <!-- phone Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Téléphone</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phoneNumber}} </mat-cell>
        </ng-container>

        <!-- role Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>Rôle</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.roles && row.roles.length>0; else notRoleTemplate">
                    <ng-container *ngIf="row.roles.length>1; else roleTemplate">
                        <button mat-icon-button [matMenuTriggerFor]="role" color="primary" matTooltip="Voir">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <mat-menu #role="matMenu">
                            <span mat-menu-item *ngFor="let r of row.roles">{{r.name}}</span>
                        </mat-menu>
                    </ng-container>
                    <ng-template #roleTemplate>
                        {{row.roles[0].name}}
                    </ng-template>
                </ng-container>
                <ng-template #notRoleTemplate>
                    Aucun Rôle attribué
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">Action</button>
                <mat-menu #menu="matMenu">
                    <span mat-menu-item (click)="openDialog('edit',row)" class="text-blue-500">
                        Modifier
                    </span>
                    <span mat-menu-item (click)="removeRows(row)" class="text-red-500">Supprimer</span>
                </mat-menu>
            </mat-cell>
        </ng-container>
        <ng-container *matNoDataRow> 
            <div *ngIf="!loading" class="text-lg text-center p-2">
                Aucune donnée trouvée
            </div>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [length]="total" [pageSize]="pageSize"
        (page)="onChangePage($event)" #paginator></mat-paginator>

</div>