<ng-container *ngIf="showTopBarAndSideBar; else fullComponent">
    <div style="height: 100vh; overflow: hidden;">
        <mat-toolbar color="primary" [class.mat-elevation-z8]="true">
            <mat-toolbar-row class="flex justify-between items-center">
                <div class="flex justify-between items-center md:w-1/5 pr-2">
                    <div id="title"> KADA SOLUTION</div>
                    <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
                </div>
                <!-- <span class="menu-spacer"></span> -->
                <div id="right_topbar" class="flex space-x-4 md:space-x-2">
                    <div class="profile-container" >
                        <img class="h-[20px] w-[20px]" style="margin-bottom: 0;" src="../assets/images/luffy_profile.jpg" alt="profile_image" matCardAvatar>
                        <span class="status-dot mt-2"></span>
                    </div>
                    <div class="flex items-center">
                        <mat-icon matTooltip="Notifications" matBadge="8" matBadgePosition="after"
                                matBadgeColor="accent">notifications</mat-icon>
                    </div>
                    <div (click)="logout()" class="flex items-center">
                        <mat-icon matTooltip="Se Deconnecter">logout</mat-icon>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-sidenav-container [hasBackdrop]="!openedSideNav">
            <mat-sidenav [class.mat-elevation-z8]="true" #sidenav style="min-width: 20vw;" [mode]="openedSideNav?'side':'over'"
                [opened]="openedSideNav" >
                <mat-card>
                    <!-- <mat-card-content [style]="{
                    'background':'url(\'../assets/images/luffy_profile.jpg\') center / cover',
                    'height':'65px',
                    'background-color': '#00000070',
                    'background-blend-mode': 'overlay',
                    'color':'white',
                }" class="img__wrap">
                        <div class="name_profile">
                            <h3>Monkey.D.Luffy</h3>
                        </div>
                        <div class="img__description">
                            <span>Voir le Profile</span>
                        </div>
                    </mat-card-content> -->
                </mat-card>
                <mat-nav-list>
                    <ng-container *ngFor="let menuItem of menuItems">
                        <mat-list-item [routerLink]="menuItem.link" routerLinkActive="active">
                            <mat-icon matListItemIcon>{{ menuItem.icon }}</mat-icon>
                            <div matListItemTitle>{{ menuItem.title }}</div>
                        </mat-list-item>
                        <mat-divider *ngIf="menuItem.divider"></mat-divider>
                    </ng-container>
                    <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div style="height: 88vh; overflow-y: scroll; padding: 20px; overflow-x: hidden;" class="bg-blue-50">
                    <router-outlet></router-outlet>
                </div>
                <app-footer></app-footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</ng-container>
<ng-template #fullComponent>
    <router-outlet></router-outlet>
</ng-template>