<app-breadcrumb></app-breadcrumb>
<mat-divider></mat-divider>
<mat-toolbar class="content-toolbar flex flex-wrap justify-between items-center"
    style="height: fit-content !important; padding:5px 20px;">
    <div class="flex">
        <mat-icon class="cursor-pointer text-white" title="retour">reply</mat-icon>
    </div>

    <div class="flex">
        <button class="flex button items-center bg-white text-black shadow-xl" (click)="openDialog('add',{})">
            + Ajouter
        </button>
    </div>
</mat-toolbar>
<div class="content mat-elevation-z2">
    <form [formGroup]="searchForm" class="flex flex-wrap mb-6 border border-gray-300 rounded-md pt-4 ">
        <mat-form-field class="w-full m-2">
            <mat-select placeholder="Modèle" formControlName="model">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let modele of modeles" [value]="modele.id">{{modele.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="p-3">
            <mat-slide-toggle formControlName="hasStockage" class="md:w-[20%] md:mb-2">Stockage</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasCouleur" class="md:w-[20%] md:mb-2">Couleur</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasNombreDeSim" class="md:w-[20%] md:mb-2">Sim</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasImei" class="md:w-[20%] md:mb-2">Imei</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasParticularite"
                class="md:w-[20%] md:mb-2">Particularite</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasEtat" class="md:w-[20%] md:mb-2">Etat</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasProcesseurs" class="md:w-[20%] md:mb-2">Processeurs</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasTailleEcran" class="md:w-[20%] md:mb-2">Ecran</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasRam" class="md:w-[20%] md:mb-2">Ram</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasQualite" class="md:w-[20%] md:mb-2">Qualite</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasType" class="md:w-[20%] md:mb-2">Type</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasCapacite" class="md:w-[20%] md:mb-2">Capacite</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasCaracteristic"
                class="md:w-[20%] md:mb-2">Caracteristique</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasPuissance" class="md:w-[20%] md:mb-2">Puissance</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasPosition" class="md:w-[20%] md:mb-2">Position</mat-slide-toggle>
            <mat-slide-toggle formControlName="hasDescription" class="md:w-[20%] md:mb-2">Description</mat-slide-toggle>
        </div>
    </form>
    <mat-table [dataSource]="pageRows" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef cdkDrag>#</mat-header-cell>
            <mat-cell *matCellDef="let row;let index=index"> {{index+1}} </mat-cell>
        </ng-container>

        <!-- typeArticle Column -->
        <ng-container matColumnDef="modele">
            <mat-header-cell *matHeaderCellDef cdkDrag>Modèle</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.modelName}} </mat-cell>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">Action</button>
                <mat-menu #menu="matMenu">
                    <span mat-menu-item (click)="openDialog('edit',row)">
                        Voir
                    </span>
                    <span mat-menu-item (click)="removeRows(row)">Supprimer</span>
                </mat-menu>
            </mat-cell>
        </ng-container>
        <ng-container *matNoDataRow>
            <div *ngIf="!loading" class="text-lg text-center p-2">
                Aucune donnée trouvée
            </div>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [length]="pageRows.length" [pageSize]="pageSize" [pageIndex]="pageOffset / pageSize"
        (page)="onChangePage($event)"></mat-paginator>

</div>