<div id="right_topbar">
    <div class="profile-container">
        <img src="../assets/images/luffy_profile.jpg" alt="profile_image" matCardAvatar>
        <!-- <button mat-icon-button matTooltip="Profil">
                <mat-icon ma>account_circle</mat-icon>
            </button> -->
        <div class="status-dot"></div>
    </div>
    <div>
        <button mat-icon-button matTooltip="Notifications">
            <mat-icon matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button matTooltip="Se Deconnecter" routerLink="/login">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>