<div class="flex justify-center items-center h-full bg-blue-50" [class.mat-elevation-z8]="true">
    <mat-card class="max-w-xs max-sm:m-2">
        <div class="text-center">
            <img src="/assets/images/logo.png" alt="" class="w-24 h-24 md:w-48 md:h-auto  mx-auto" width="384"
                height="512">
        </div>
        <mat-card-content>
            <form>
                <mat-form-field class="w-full">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput placeholder="Nom d'utilisateur">
                    <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe">
                    <button mat-icon-button matSuffix (click)="$event.preventDefault();hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div align="end">
                    <!-- <button mat-stroked-button color="warn" class="mr-2" type="button">Effacer</button> -->
                    <button mat-raised-button type="button" (click)="login()">
                        Se Connecter
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- </div> -->